/* VARIABLES  */
:root {
  --bg: #f9fafb;
  --card: #ffffff;
  --text: #1f2937;
  --border: #e5e7eb;
  --accent: #f97316; 
  --accent-hover: #ea580c;
}

/* DARK MODE */
body.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #e5e7eb;
  --border: #334155;
  --accent: #fb923c;
  --accent-hover: #f97316;
}

/* BASE */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 1.5s;
}

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.top-bar {
  margin-bottom: 20px;
}

/* GRID  */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 20px;
  border-radius: 14px;
  border: 1px solid var(--border);
  color: var(--text);
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 14px;
  background: var(--card);
  color: var(--text); 
}

/* PLACEHOLDER */
input::placeholder {
  color: #9ca3af;
}

body.dark input::placeholder {
  color: #94a3b8;
}

/* BUTTON  */
button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: var(--accent);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.2s;
}

button:hover {
  background: var(--accent-hover);
}

/* TABLE  */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid var(--border);
  color: var(--text);
}

th {
  text-align: left;
  color: var(--accent);
  font-weight: 600;
}

tr:hover {
  background: rgba(249, 115, 22, 0.1);
}

/* STATS */
.totals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stat {
  text-align: center;
}

.stat h2 {
  margin-top: 10px;
  color: var(--text);
}

/* PROFIT */
.highlight {
  background: var(--accent);
  color: white;
  color: var(--text);
}

.highlight h2 {
  color: white;
  color: var(--text);
}

